﻿@model IEnumerable<WebWinkel.Models.Knikkers>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Admin")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(o => o.Naam)

            knikkers editten createn deleten details
            customers editten details
            orders editten detailszien deleten
            orderdetails via actionlink in orders naar 1 enkel id

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
