﻿<head>
    <style>
        .navbar-inverse .navbar-brand {
            color: #FFF;
            border-bottom: 3px solid;
            border-color: #7FFBFB;
            margin-top: 0.5px;
        }

        .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
            margin-top: 10px;
            padding-top: 5px;
            max-height: 190px;
            width: auto;
        }
    </style>
</head>

@{
    ViewBag.Title = "Home";
}

<center>
    <h1 style="font-size: 60px;">Welcome to Jewels...</h1>
</center>
<hr />
<center>
    <img src="~/Content/Images/kids-playing-marble-games.jpg" id="home" />
</center>
<div class="container-fluid" id="quoteHomePage">
    <div class="row">
        <div class="col-md-3">
            <center>
                <img src="~/Content/Images/tumblr_mxmewiqwF71srwveio1_500.gif" alt="logo" class="img-responsive" width="250" height="190">
            </center>
        </div>
        <div class="col-md-9">
            <center>
                <h1>Marbles</h1>
                <hr />
            </center>
            <center>
                <p style="margin-right:20%; font-size: 25px;">
                    "We don't stop playing because we grow old,
                </p>
                <p style="margin-left:25%; font-size: 25px;">
                    we grow old because we stop playing."
                    <footer class="pull-right" style="color:gray;">
                        - George Bernard Shaw
                    </footer>
                </p>
            </center>
        </div>
    </div>
</div>
