﻿
@{
     ViewBag.Title = "Store";
}

<form class="navbar-form navbar-right" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<center>
    <h2>Store</h2>
    <h3>Lost your marbles? No problem, I'm sure you'll find them (replacements) here...</h3>
</center>
<hr />

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur, nunc non convallis sollicitudin, ipsum nulla sagittis enim, non euismod tellus tortor id metus. Vestibulum vel ullamcorper massa, in tempus orci. Pellentesque mi erat, aliquam at mi vel, luctus hendrerit lectus. Nulla mattis, diam non tincidunt eleifend, lectus arcu rutrum elit, at rhoncus ante lacus facilisis leo. Praesent venenatis porttitor eros ac finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum rhoncus condimentum. Cras ac ante sed eros facilisis efficitur eget id mauris. Nunc dapibus efficitur elit, id varius tortor efficitur sed. Quisque vel congue quam. Pellentesque sollicitudin mollis mauris, sit amet elementum quam sodales quis.
    </p>
    <p>
        Suspendisse eu ullamcorper mi, sed semper dui. Praesent semper tempor velit eu placerat. Vivamus vulputate placerat facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed venenatis quam lacus, sit amet eleifend nunc cursus quis. Aliquam vehicula posuere dolor vel luctus. Sed vestibulum porttitor vehicula. Duis tempus metus vitae vestibulum fermentum. Mauris posuere sed neque et bibendum. Sed vitae malesuada mauris. Vivamus viverra mauris in mauris facilisis malesuada. Fusce dictum magna lacus, eu rhoncus ante vestibulum et. Duis scelerisque tincidunt semper. Vivamus auctor ligula quis pulvinar fringilla. Fusce a tincidunt nulla.
    </p>
    <p>
        Vivamus vel nisl et metus ultrices tincidunt. Mauris sit amet lectus velit. Fusce sed nisl vel risus ultrices blandit. Aliquam auctor leo id sodales interdum. Vestibulum urna ipsum, lacinia quis sem id, accumsan eleifend lacus. Nulla a malesuada odio. Vivamus sodales finibus ante, et consequat augue.
    </p>
    <p>
        Mauris ut commodo tellus. Pellentesque nisi est, faucibus non tortor quis, semper euismod augue. Donec luctus, odio sed iaculis blandit, leo neque elementum urna, ac mattis ligula mauris ut arcu. Aliquam in ante elementum, feugiat neque nec, interdum sapien. Praesent ornare nunc orci, at blandit sem ullamcorper consectetur. Vivamus vel venenatis orci. Aliquam convallis, dolor ornare pharetra vulputate, dui purus bibendum turpis, non aliquam arcu massa in nibh. Suspendisse egestas nisi lectus, quis ultrices arcu varius efficitur. Aliquam vitae bibendum odio. Nam auctor magna nec orci semper, ut placerat nibh pulvinar. Cras cursus erat et efficitur ornare. Pellentesque rutrum purus a odio efficitur volutpat.
    </p>
    <p>
        Duis a scelerisque mi, sed maximus urna. Sed nec porttitor ex. Etiam quis justo venenatis, consectetur mauris quis, fringilla felis. Vestibulum vitae dui ac tellus scelerisque cursus. Nullam nec sem nec orci venenatis finibus non vel massa. Proin non porta risus. Quisque nunc libero, eleifend ac egestas nec, congue quis urna.
    </p>
</div>
