﻿@model WebWinkel.Models.LoginDetails

@{
    ViewBag.Title = "Sign In";
}

<head>
    <link href="~/Content/SelfmadeCss/LoginPageStyle.css" rel="stylesheet" type="text/css" />
</head>

<center>
    <img style="margin-right:13%;" src="~/Content/Images/earth_orb_icon_by_pokehkins.png" alt="logo" />
    <h2 style="display:inline-block; margin-right:12%;">Sign In</h2>
</center>
<hr />
<center>
    @using (Html.BeginForm("Login", "Login"))
    {
        @Html.ValidationSummary(true, "Login failed. Check your login details.")
        @Html.AntiForgeryToken()

        <div class="form-group">
            <p style="margin-bottom:0px;">
                @Html.LabelFor(model => model.UserName)
            </p>
            @Html.TextBoxFor(model => model.UserName)
            <p style="color: red">
                <b>
                    @Html.ValidationMessageFor(model => model.UserName)
                </b>
            </p>
        </div>
        <div class="form-group">
            <p style="margin-bottom:0px;">
            @Html.LabelFor(model => model.Password)
            </p>
            @Html.TextBoxFor(model => model.Password)
            <p style="color: red">
                <b>
                    @Html.ValidationMessageFor(model => model.Password)
                </b>
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    }
</center>


