﻿@model WebWinkel.Models.Customers

@{
    ViewBag.Title = "Sign Up";
}

<head>
    <link href="~/Content/SelfmadeCss/LoginPageStyle.css" rel="stylesheet" type="text/css" />
    <style>
        p {
            margin-bottom: 2px;
        }

        .body-content {
            margin-top:1%;
            min-width: 270px;
            max-width: 500px;
        }
    </style>
</head>

<div>
    <center>
        <img style="margin-right:16%;" src="~/Content/Images/earth_orb_icon_by_pokehkins.png" alt="logo" />
        <h2 style="display:inline-block; margin-right:38.5%;">Sign Up</h2>
        <hr />
    </center>
    <center>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <p>@Html.LabelFor(o => o.Voornaam, "Given name:")</p>
            <p>@Html.EditorFor(o => o.Voornaam)</p>
            <p>@Html.ValidationMessageFor(o => o.Voornaam)</p>
            <br />
            <p>@Html.LabelFor(o => o.Familienaam, "Surname:")</p>
            <p>@Html.EditorFor(o => o.Familienaam)</p>
            <p>@Html.ValidationMessageFor(o => o.Familienaam)</p>
            <br />
            <p>@Html.LabelFor(o => o.StraatNr, "Street and number:")</p>
            <p>@Html.EditorFor(o => o.StraatNr)</p>
            <p>@Html.ValidationMessageFor(o => o.StraatNr)</p>
            <br />
            <p>@Html.LabelFor(o => o.Postcode, "Postal code:")</p>
            <p>@Html.EditorFor(o => o.Postcode)</p>
            <p>@Html.ValidationMessageFor(o => o.Postcode)</p>
            <br />
            <p>@Html.LabelFor(o => o.Land, "Country:")</p>
            <p>@Html.EditorFor(o => o.Land)</p>
            <p>@Html.ValidationMessageFor(o => o.Land)</p>
            <br />
            <p>@Html.LabelFor(o => o.Email, "E-mail:")</p>
            <p>@Html.EditorFor(o => o.Email)</p>
            <p>@Html.ValidationMessageFor(o => o.Email)</p>
            <br />
            <p>@Html.LabelFor(o => o.UserName, "User name:")</p>
            <p>@Html.EditorFor(o => o.UserName)</p>
            <p>@Html.ValidationMessageFor(o => o.UserName)</p>
            <br />
            <p>@Html.LabelFor(o => o.Password, "Password:")</p>
            <p>@Html.EditorFor(o => o.Password, new { htmlAttributes = new { placeholder = "Password..." } })</p>
            <p style="margin-bottom: 20px;">@Html.ValidationMessageFor(o => o.Password)</p>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        }
    </center>
</div>
