﻿<head>
    <link href="~/Content/SelfmadeCss/ContactPageStyle.css" rel="stylesheet" type="text/css" />
</head>

@{
    ViewBag.Title = "Contact";
}

<center>
    <h2>
        Store Information
    </h2>
</center>
<hr />
<center>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <center><h3 class="panel-title">Contact Details</h3></center>
        </div>
        <div class="panel-body">
            <address>
                <strong>
                    Kerkhofstraat 66, 2850 Boom, Belgium
                </strong>
                <hr style="margin-top:5px; margin-bottom:7px;" />
                <p>
                    Mo. - Fr. 09:30 - 18:30 / Sa 09:30 - 17:30 <br />

                    <abbr title="Phone">P: </abbr>+32 (0)3 - 871 11 30 <br />

                    <abbr title="Fax">F: </abbr>+32 (0)3 - 871 11 99 <br />
                </p>
                <p>
                    <a href="mailto:customerservice@jewels.be">customerservice@jewels.be</a>
                </p>
            </address>
</div>
    </div>
    <h3 class="well well-sm">Feel free to use this routeplanner below to help you find your way to our store.<span class="glyphicon glyphicon-arrow-down"></span></h3>
</center>
<center>
    <form method="get" action="https://www.google.com/maps" target="mapframe">
        <input name="output" type="hidden" value="embed">
        <input name="f" type="hidden" value="d">
        <input name="z" type="hidden" value="11">
        <input name="daddr" type="hidden" id="daddr"
               value="Kerkhofstraat 66, Boom, Belgium">
        <div class="row">
            <div class="col-lg-3 col-centered text-center">
                <p style="margin-bottom:2px;"><span class="glyphicon glyphicon-home" style="padding-right:10px; margin-top:5px;"></span>Type here your starting location...</p>
                <div class="input-group center-block">
                    <input type="text" name="saddr" id="saddr" class="form-control" placeholder="Start/Home location...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" name="Submit" type="submit">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div class="video-container">
        <iframe name="mapframe" width="425" height="350"
                src="https://www.google.com/maps?z=11&amp;f=d&amp;output=embed&amp;ll=51.08608,4.36633"></iframe>
    </div>
</center>

