﻿@model WebWinkel.Models.LoginDetails

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.gotop.min.js"></script>
    <script>
        $(function () {
            $('#goTop').goTop();
        });
    </script>
</head>
@using WebShop.Content.Utilities
<body>
    <nav class="navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Home", "Home")">Jewels</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @*<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>*@
                    <li class='@Html.IsActive("Store", "Store")'><a href="@Url.Action("Store", "Store")">Store</a></li>
                    <li class='@Html.IsActive("About", "About")'><a href="@Url.Action("About", "About")">About</a></li>
                    <li class='@Html.IsActive("Contact", "Contact")'><a href="@Url.Action("Contact", "Contact")">Contact</a></li>
                    <li class='@Html.IsActive("Admin", "Admin")'>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("Admin", "Admin")">Admin</a>
                            }
                        }
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li class='@Html.IsActive("Login", "LogOut")'>
                            <strong>@Html.Encode(User.Identity.Name)</strong> @Html.ActionLink("Log Out", "LogOut", "Login")
                        </li>
                    }
                    else
                    {
                        <li class='@Html.IsActive("Login", "Registration")'>
                            @Html.ActionLink("Register", "Registration", "Login")
                        </li>
                        <li class='@Html.IsActive("Login", "Login")'>
                            @Html.ActionLink("Sign In", "Login", "Login")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center><p>&copy; @DateTime.Now.Year - Alek, Malik, Nicky</p></center>
        </footer>
    </div>
    <div id='goTop'>Back To Top</div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>