﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-image: url('Images/208550-abstract.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 1%;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 10px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    background-clip: padding-box;
    border: 4px solid rgba(255,255,255,.2);
    /*border-top: none;*/
    border-radius: 10px 10px 50px 50px;
    box-shadow: 0 0 1px rgba(255,255,255,.8), 0 0 3px rgba(0,0,0,.8), 1px 1px 0 rgba(0,0,0,.8) inset, -1px -1px 0 rgba(0,0,0,.8) inset;
    padding: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-fluid {
    max-width: 75%;
    min-width: 240px;
}

.navbar-nav > li > a {
    margin-right: 0px;
    margin-left: 0px;
    border-left: 1px solid rgba(255,255,255,.2);
    /*border-color: #7FFBFB;*/
}

.navbar-static-top {
    background-clip: padding-box;
    border-bottom: 4px solid rgba(255,255,255,.2);
    border-radius: 3px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8), 0px 0px 3px rgba(0, 0, 0, 0.8), 1px 1px 0px rgba(0, 0, 0, 0.8) inset, -1px -1px 0px rgba(0, 0, 0, 0.8) inset;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: black;
}

.navbar-nav > li > a {
    padding-bottom: 13px;
}

.navbar-inverse .active > a {
    border-bottom: 3px solid;
    border-color: #7FFBFB;
    border-left: 1px solid rgba(255,255,255,.2);
}

@media (max-width: 810px) {
    .navbar-header {
        float: none;
    }

    .navbar-nav > li > a {
    border-bottom: 1px solid rgba(255,255,255,.2);
    }

    .navbar-inverse .active > a {
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #7FFBFB;
    border-bottom: 1px solid rgba(255,255,255,.2);
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .body-content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        max-width: 770px;
        min-width: 10px;
        margin-top: 1.5%;
    }

    .container-fluid {
        max-width: 100%;
        min-width: 240px;
    }
}

.navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    /*margin-left: 0px;*/
    margin-right: -18px;
}

.navbar-inverse .navbar-brand {
    margin-right: 20px;
}