﻿@model WebWinkel.Models.LoginDetails

@{
    ViewBag.Title = "Login";
}

<h2>View</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p>
        Naam:
        @Html.EditorFor(o => o.UserName)
        @Html.ValidationMessageFor(o => o.UserName)
    </p>
    <p>
        Paswoord:
        @Html.EditorFor(o => o.Password)
        @Html.ValidationMessageFor(o => o.Password)
    </p>

    <p>
        <input type="submit" value="Log in" name="LogOn" />
        <input type="submit" value="Registreer" name="Registreer" />
    </p>

    <p>@ViewBag.Test</p>
}